# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.GlobalBan.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Decompiled Minecraft Source
minecraft-26.1-snapshot-1-client-DECOMPILED/
baritone-1.21.8-REFERENCE-ONLY/

# Common IntelliJ Platform excludes
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/
.idea/

Thumbs.db
Desktop.ini
.DS_Store

blocks-*.json
registries-*.json
